:root {
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #e3e3e4;
    --bg-secondary: #151618;
    --transition-speed: 500ms;

    /* save */
    /* --bg-primary: #2B343A;
    --bg-secondary: rgb(49, 49, 49); */
}

* {
    box-sizing: border-box;
}

main {
    max-width: 90%;
    margin: auto;
}

.header {
    width: 100%;
    height: 5rem;
    background-color: var(--bg-primary);
    display: flex;
    align-items: center;
    justify-content: center;
}

.header img {
    width: 9.5vh;
}

.navbar {
    width: 100%;
    height: 2.5rem;
    background-color: var(--bg-secondary);
    padding: 0 1vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.navbar img {
    width: 23px;
    filter: invert(99%) sepia(3%) saturate(44%) hue-rotate(25deg) brightness(113%) contrast(87%);
    margin: 8px;
}

.navbar img:hover {
    width: 24px;
    filter: invert(90%) sepia(13%) saturate(195%) hue-rotate(175deg) brightness(90%) contrast(87%);
}

.navbar ul {
    width: 100%;
    display: flex;
}

.navbar-nav {
    display: flex;
    align-items: center;
}

/* .nav-item:last-child {
    margin-left: auto;
} */

.nav-item:nth-child(2n) {
    margin-left: auto;
}

.nav-item2:nth-child(3n) {
    margin-left: auto;
}

.nav-item3:nth-child(4n) {
    margin-left: auto;
}



/* --------------------------------------------------- */

.register {
    width: 400px;
    background-color: #ffffff;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
    margin: 15px auto;
}

.register h1 {
    text-align: center;
    color: #5b6574;
    font-size: 24px;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid #dee0e4;
}

.register form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
}

.register form label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #3274d6;
    color: #ffffff;
}

.register form input[type="password"],
.register form input[type="text"],
.register form input[type="email"] {
    width: 310px;
    height: 50px;
    border: 1px solid #dee0e4;
    margin-bottom: 20px;
    padding: 0 15px;
}

.register form input[type="submit"] {
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    background-color: #3274d6;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
    transition: background-color 0.2s;
}

.register form input[type="submit"]:hover {
    background-color: #2868c7;
    transition: background-color 0.2s;
}

/* ------------------------------------------------------------- */

.content {
    width: 90%;
    margin: 0 auto;
}

.content h2 {
    margin: 0;
    padding: 25px 0;
    font-size: 22px;
    border-bottom: 1px solid #ebebeb;
    color: #666666;
}

.read .create-contact {
    display: inline-block;
    text-decoration: none;
    background-color: #38b673;
    font-weight: bold;
    font-size: 14px;
    color: #FFFFFF;
    padding: 10px 15px;
    margin: 15px 0;
}

.read .create-contact:hover {
    background-color: #32a367;
}

.read .pagination {
    display: flex;
    justify-content: flex-end;
}

.read .pagination a {
    display: inline-block;
    text-decoration: none;
    background-color: #a5a7a9;
    font-weight: bold;
    color: #FFFFFF;
    padding: 5px 10px;
    margin: 15px 0 15px 5px;
}

.read .pagination a:hover {
    background-color: #999b9d;
}

.read table {
    width: 100%;
    padding-top: 30px;
    border-collapse: collapse;
}

.read table thead {
    background-color: #ebeef1;
    border-bottom: 1px solid #d3dae0;
}

.read table thead td {
    padding: 10px;
    font-weight: bold;
    color: #767779;
    font-size: 14px;
}

.read table tbody tr {
    border-bottom: 1px solid #d3dae0;
}

.read table tbody tr:nth-child(even) {
    background-color: #fbfcfc;
}

.read table tbody tr:hover {
    background-color: #376ab7;
}

.read table tbody tr:hover td {
    color: #FFFFFF;
}

.read table tbody tr:hover td:nth-child(1) {
    color: #FFFFFF;
}

.read table tbody tr td {
    padding: 10px;
}

.read table tbody tr td:nth-child(1) {
    color: #a5a7a9;
}

.read table tbody tr td.actions {
    padding: 8px;
    text-align: right;
}

.read table tbody tr td.actions .edit,
.read table tbody tr td.actions .trash {
    display: inline-flex;
    text-align: right;
    text-decoration: none;
    color: #FFFFFF;
    padding: 10px 12px;
}

.read table tbody tr td.actions .trash {
    background-color: #b73737;
}

.read table tbody tr td.actions .trash:hover {
    background-color: #a33131;
}

.read table tbody tr td.actions .edit {
    background-color: #37afb7;
}

.read table tbody tr td.actions .edit:hover {
    background-color: #319ca3;
}

.update form {
    padding: 15px 0;
    display: flex;
    flex-flow: wrap;
}

.update form label {
    display: inline-flex;
    width: 400px;
    padding: 10px 0;
    margin-right: 25px;
}

.update form input {
    padding: 10px;
    width: 400px;
    margin-right: 25px;
    margin-bottom: 15px;
    border: 1px solid #cccccc;
}

.update form input[type="submit"] {
    display: block;
    background-color: #38b673;
    border: 0;
    font-weight: bold;
    font-size: 14px;
    color: #FFFFFF;
    cursor: pointer;
    width: 200px;
    margin-top: 15px;
}

.update form input[type="submit"]:hover {
    background-color: #32a367;
}

.delete .yesno {
    display: flex;
}

.delete .yesno a {
    display: inline-block;
    text-decoration: none;
    background-color: #38b673;
    font-weight: bold;
    color: #FFFFFF;
    padding: 10px 15px;
    margin: 15px 10px 15px 0;
}

.delete .yesno a:hover {
    background-color: #32a367;
}